# Hypothesis Testing

Brittany Lassiter

# Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

## import hypothesis testing functions
from scipy import stats

In [10]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = sorted(glob.glob("Data/final_tmdb_data*.csv.gz"))
tmdb_files

['Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz']

In [12]:
# Use read_csv in a list comprehension and combine with concat to load all files
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
display(df.head())
df.info()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.320,1237.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.405,132.0,PG-13

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2655 entries, 0 to 1
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2655 non-null   object
 1   adult                  2652 non-null   float64
 2   backdrop_path          1523 non-null   object
 3   belongs_to_collection  217 non-null    object
 4   budget                 2652 non-null   float64
 5   genres                 2652 non-null   object
 6   homepage               214 non-null    object
 7   id                     2652 non-null   float64
 8   original_language      2652 non-null   object
 9   original_title         2652 non-null   object
 10  overview               2593 non-null   object
 11  popularity             2652 non-null   float64
 12  poster_path            2411 non-null   object
 13  production_companies   2652 non-null   object
 14  production_countries   2652 non-null   object
 15  release_date           2629 non-null   object
 16  revenue                2652 non-null   float64
 17  runtime                2652 non-null   float64
 18  spoken_languages       2652 non-null   object
 19  status                 2652 non-null   object
 20  tagline                1154 non-null   object
 21  title                  2652 non-null   object
 22  video                  2652 non-null   float64
 23  vote_average           2652 non-null   float64
 24  vote_count             2652 non-null   float64
 25  certification          869 non-null    object
dtypes: float64(9), object(17)
memory usage: 560.0+ KB