# Transform and Load
Brittany Lassiter

## Imports

In [1]:
# Plotly is not included in your dojo-env
!pip install plotly

Requirement already satisfied: plotly in c:\users\blass\anaconda3\envs\dojo-env\lib\site-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\blass\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\blass\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (23.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json, os
import plotly.express as px
from sqlalchemy.engine import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
from sqlalchemy.types import *

In [3]:
import json
with open ("C:/Users/blass/.secret/mysql.json", "r") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [33]:
pymysql.install_as_MySQLdb()

username = login["username"]
password = quote_plus(login["password"])
db_name = "imdb-movies"
connection_str = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [34]:
engine = create_engine(connection_str)

In [35]:
## Check if database exists, if not, create it
if database_exists(connection_str):
    print('It exists!')
else:
    create_database(connection_str)
    print('Database created!')

Database created!

In [4]:
## Load in csv.gz
df = pd.read_csv('Data/title_basics_cleaned.csv.gz')
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  int64
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86979 non-null  int64
 8   genres          86979 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

## Normalizing Data (Genres)

In [6]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
86974,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
86975,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
86976,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

## Titles_Genres

In [9]:
# Create new table for title_genres
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head(2)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy

In [10]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [11]:
#Add genres_id column
title_genres['genres_id'] = title_genres['genres_split'].map(genre_map)
#Drop genres split column
title_genres = title_genres.drop(columns='genres_split')
title_genres.head(2)

      tconst  genres_id
0  tt0035423          5
0  tt0035423          9

In [23]:
connection  = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/movies"
engine = create_engine(connection)

## Genres

In [24]:
#Make a dataframe with named cols from the keys and values
genres = pd.DataFrame({"genre_name": genre_map.keys(),
                             "genre_id": genre_map.values()})
genres.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

## Creating MYSQL

In [53]:
tmdb_data = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb_data

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0120679,0.0,/s04Ds4xbJU7DzeGVyamccH4LoxF.jpg,NaN,12000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.miramax.com/movie/frida,1360.0,en,Frida,...,56298474.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Prepare to be seduced.,Frida,0.0,7.424,1911.0,R
1,tt0120804,0.0,/l5KvxFVOru3Qyf3dl2asNw5g1MD.jpg,"{'id': 17255, 'name': 'Resident Evil Collectio...",33000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",https://www.sonypictures.com/movies/residentevil,1576.0,en,Resident Evil,...,102984862.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A secret experiment. A deadly virus. A fatal m...,Resident Evil,0.0,6.611,5843.0,R
2,tt0120912,0.0,/o1l6OCqA3pYDZHIc5L1s7CEzCMv.jpg,"{'id': 86055, 'name': 'Men In Black Collection...",140000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.sonypictures.com/movies/meninblackii,608.0,en,Men in Black II,...,445135288.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Back in black.,Men in Black II,0.0,6.359,9293.0,PG-13
3,tt0121765,0.0,/abwxHfymXGAbbH3lo9PDEJEfvtW.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",120000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,1894.0,en,Star Wars: Episode II - Attack of the Clones,...,649398328.0,142.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,Star Wars: Episode II - Attack of the Clones,0.0,6.550,12347.0,PG
4,tt0133240,0.0,/mVuH9hNGnxF9bbhlh1Tr9FuG3Uc.jpg,NaN,140000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,9016.0,en,Treasure Planet,...,109578115.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Find your place in the universe.,Treasure Planet,0.0,7.531,3834.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,tt0997084,0.0,/A9Yy4ZRJgTXlKa1KOV92YLTCppn.jpg,"{'id': 23456, 'name': 'One Piece Collection', ...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",https://one-piece.com/comicsanime/movie/detail...,44725.0,ja,ワンピース 珍獣島のチョッパー王国,...,13107237.0,56.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,"Tony T. Chopper, the new Animal King!",One Piece: Chopper's Kingdom on the Island of ...,0.0,6.800,162.0,PG-13
804,tt1039983,0.0,/7B5IQdNNyNsSwBaW9zzCT9XmAcJ.jpg,NaN,500000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,69419.0,ta,ரெட்,...,500000.0,157.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Red,0.0,5.100,7.0,NaN
805,tt11790094,0.0,NaN,NaN,2000.0,"[{'id': 27, 'name': 'Horror'}]",NaN,973480.0,en,Dracula Vs Frankenstein,...,0.0,81.0,[],Released,The legendary lost underground cult horror com...,Dracula Vs Frankenstein,0.0,10.000,1.0,NaN
806,tt11841078,0.0,NaN,NaN,1000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",NaN,401067.0,en,Fatal Possession,...,0.0,78.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Her Passion Is High, Her Touch Is Deadly.",Fatal Possession,0.0,0.000,0.0,NaN
807,tt1621767,0.0,NaN,NaN,400000.0,"[{'id': 10749, 'name': 'Romance'}]",NaN,99116.0,ta,ஏப்ரல் மாதத்தில்,...,2000000.0,153.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,April Maadhathil,0.0,4.600,4.0,NaN

In [54]:
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 808 entries, 0 to 807
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                808 non-null    object
 1   adult                  808 non-null    float64
 2   backdrop_path          746 non-null    object
 3   belongs_to_collection  168 non-null    object
 4   budget                 808 non-null    float64
 5   genres                 808 non-null    object
 6   homepage               150 non-null    object
 7   id                     808 non-null    float64
 8   original_language      808 non-null    object
 9   original_title         808 non-null    object
 10  overview               807 non-null    object
 11  popularity             808 non-null    float64
 12  poster_path            795 non-null    object
 13  production_companies   808 non-null    object
 14  production_countries   808 non-null    object
 15  release_date           808 non-null    object
 16  revenue                808 non-null    float64
 17  runtime                808 non-null    float64
 18  spoken_languages       808 non-null    object
 19  status                 808 non-null    object
 20  tagline                659 non-null    object
 21  title                  808 non-null    object
 22  video                  808 non-null    float64
 23  vote_average           808 non-null    float64
 24  vote_count             808 non-null    float64
 25  certification          592 non-null    object
dtypes: float64(9), object(17)
memory usage: 164.2+ KB

In [55]:
#Defining Columns
data = {'imdb_id': [],
    'revenue': [],
    'budget': [],
    'certification':[]}

#create datafrome
tmdb_df = pd.DataFrame(data)
tmdb_df

Empty DataFrame
Columns: [imdb_id, revenue, budget, certification]
Index: []

In [57]:
tmdb_df = tmdb_data[['imdb_id', 'revenue', "budget", 'certification']]
tmdb_df

        imdb_id      revenue       budget certification
0     tt0120679   56298474.0   12000000.0             R
1     tt0120804  102984862.0   33000000.0             R
2     tt0120912  445135288.0  140000000.0         PG-13
3     tt0121765  649398328.0  120000000.0            PG
4     tt0133240  109578115.0  140000000.0            PG
..          ...          ...          ...           ...
803   tt0997084   13107237.0          0.0         PG-13
804   tt1039983     500000.0     500000.0           NaN
805  tt11790094          0.0       2000.0           NaN
806  tt11841078          0.0       1000.0           NaN
807   tt1621767    2000000.0     400000.0           NaN

[808 rows x 4 columns]

In [58]:
## Make a dictionary with column and datatypes
tmdb_types = {'imdb_id':CHAR(15),
              'revenue':FLOAT(),
              'budget':FLOAT(),
              'certification':VARCHAR(10)}
tmdb_types

{'imdb_id': CHAR(length=15),
 'revenue': FLOAT(),
 'budget': FLOAT(),
 'certification': VARCHAR(length=10)}

In [59]:
genres.to_sql('genres', engine, dtype=tmdb_types,
               if_exists='replace', index=False)

25

In [60]:
#Save to SQL with dtype
title_genres.to_sql('title_genres', engine, dtype=tmdb_types,
               if_exists="replace", index=False)

162600