# Movies Database
Brittany Lassiter

![png](Data/movies-erd.png)

## Imports/Data

In [80]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [81]:
import json
with open ("C:/Users/blass/.secret/mysql.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [82]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movies"
engine = create_engine(connection)

In [83]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

## Show Table

In [84]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_movies
0         employee
1           genres
2          ratings
3     title_basics
4     title_genres

## Empty Tables

In [85]:
q= '''SELECT * FROM genres'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [genres_id, genre_name]
Index: []

In [86]:
q= '''SELECT * FROM ratings'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [tconst, average_rating, number_of_votes, genres_genres_id]
Index: []

In [87]:
q= '''SELECT * FROM title_basics'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [tconst, primary_title, start_year, runtime]
Index: []

In [88]:
q= '''SELECT * FROM title_genres'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [genres_genres_id, title_basics_tconst]
Index: []

## Describe each Table

In [89]:
q = '''DESCRIBE genres;'''
describe = pd.read_sql(q, engine)
describe

        Field         Type Null  Key Default Extra
0   genres_id          int   NO  PRI    None
1  genre_name  varchar(45)  YES         None

In [90]:
q = '''DESCRIBE ratings;'''
describe = pd.read_sql(q, engine)
describe

              Field         Type Null  Key Default Extra
0            tconst          int   NO  PRI    None
1    average_rating  varchar(45)  YES         None
2   number_of_votes  varchar(45)  YES         None
3  genres_genres_id          int   NO         None

In [91]:
q = '''DESCRIBE title_basics;'''
describe = pd.read_sql(q, engine)
describe

           Field         Type Null  Key Default Extra
0         tconst          int   NO  PRI    None
1  primary_title  varchar(45)  YES         None
2     start_year  varchar(45)  YES         None
3        runtime  varchar(45)  YES         None

In [92]:
q = '''DESCRIBE title_genres;'''
describe = pd.read_sql(q, engine)
describe

                 Field Type Null  Key Default Extra
0     genres_genres_id  int   NO  PRI    None
1  title_basics_tconst  int   NO  PRI    None

## Preparing Data

In [93]:
title_basics = pd.read_csv('Data/title_basics_cleaned.csv.gz')
title_basics.info()
title_basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  int64
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86979 non-null  int64
 8   genres          86979 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [94]:
ratings = pd.read_csv('Data/title_ratings_cleaned.csv.gz')
ratings.info()
ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71900 entries, 0 to 71899
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         71900 non-null  object
 1   averageRating  71900 non-null  float64
 2   numVotes       71900 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB

      tconst  averageRating  numVotes
0  tt0035423            6.4     87153
1  tt0062336            6.4       175
2  tt0069049            6.7      7754
3  tt0088751            5.2       336
4  tt0096056            5.6       846

### Handling foreign keys

In [95]:
# Checking the setting for FOREIGN_KEY_CHECKS
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q, engine)

   @@FOREIGN_KEY_CHECKS
0                     1

In [96]:
# Changing the setting for FOREIGN_KEY_CHECKS with the connection
q = """SET @@FOREIGN_KEY_CHECKS=0"""
engine.execute(q)

In [97]:
# Confirm the checks are deactiavated
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q,engine)

   @@FOREIGN_KEY_CHECKS
0                     0

### Cleaning Data

**Genres**

In [98]:
q = '''DESCRIBE genres;'''
describe = pd.read_sql(q, engine)
describe

        Field         Type Null  Key Default Extra
0   genres_id          int   NO  PRI    None
1  genre_name  varchar(45)  YES         None

In [99]:
# Checking describe's Field names
describe['Field'].values

array(['genres_id', 'genre_name'], dtype=object)

In [100]:
# Checking dataframe's columns
genres.columns

Index(['TCONST', 'TITLETYPE', 'PRIMARYTITLE', 'ORIGINALTITLE', 'ISADULT',
       'STARTYEAR', 'ENDYEAR', 'RUNTIMEMINUTES', 'GENRES'],
      dtype='object')

In [101]:
# replace original column names
genres.columns = genres.columns.str.upper()
genres.head(2)

,TCONST,TITLETYPE,PRIMARYTITLE,ORIGINALTITLE,ISADULT,STARTYEAR,ENDYEAR,RUNTIMEMINUTES,GENRES
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama

In [102]:
# Reviewing dataframe's data types
genres.dtypes

TCONST             object
TITLETYPE          object
PRIMARYTITLE       object
ORIGINALTITLE      object
ISADULT             int64
STARTYEAR         float64
ENDYEAR           float64
RUNTIMEMINUTES      int64
GENRES             object
dtype: object

In [105]:
genres.to_sql("genres",engine,index=False, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'TCONST' in 'field list'")
[SQL: INSERT INTO genres (`TCONST`, `TITLETYPE`, `PRIMARYTITLE`, `ORIGINALTITLE`, `ISADULT`, `STARTYEAR`, `ENDYEAR`, `RUNTIMEMINUTES`, `GENRES`) VALUES (%(TCONST)s, %(TITLETYPE)s, %(PRIMARYTITLE)s, %(ORIGINALTITLE)s, %(ISADULT)s, %(STARTYEAR)s, %(ENDYEAR)s, %(RUNTIMEMINUTES)s, %(GENRES)s)]
[parameters: ({'TCONST': 'tt0035423', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Kate & Leopold', 'ORIGINALTITLE': 'Kate & Leopold', 'ISADULT': 0, 'STARTYEAR': 2001.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 118, 'GENRES': 'Comedy,Fantasy,Romance'}, {'TCONST': 'tt0062336', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Tango of the Widower and Its Distorting Mirror', 'ORIGINALTITLE': 'El tango del viudo y su espejo deformante', 'ISADULT': 0, 'STARTYEAR': 2020.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 70, 'GENRES': 'Drama'}, {'TCONST': 'tt0069049', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Other Side of the Wind', 'ORIGINALTITLE': 'The Other Side of the Wind', 'ISADULT': 0, 'STARTYEAR': 2018.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 122, 'GENRES': 'Drama'}, {'TCONST': 'tt0088751', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Naked Monster', 'ORIGINALTITLE': 'The Naked Monster', 'ISADULT': 0, 'STARTYEAR': 2005.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 100, 'GENRES': 'Comedy,Horror,Sci-Fi'}, {'TCONST': 'tt0096056', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Crime and Punishment', 'ORIGINALTITLE': 'Crime and Punishment', 'ISADULT': 0, 'STARTYEAR': 2002.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 126, 'GENRES': 'Drama'}, {'TCONST': 'tt0100275', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Wandering Soap Opera', 'ORIGINALTITLE': 'La Telenovela Errante', 'ISADULT': 0, 'STARTYEAR': 2017.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 80, 'GENRES': 'Comedy,Drama,Fantasy'}, {'TCONST': 'tt0103340', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Life for Life: Maximilian Kolbe', 'ORIGINALTITLE': 'Zycie za zycie. Maksymilian Kolbe', 'ISADULT': 0, 'STARTYEAR': 2006.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 90, 'GENRES': 'Biography,Drama'}, {'TCONST': 'tt0108549', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'West from North Goes South', 'ORIGINALTITLE': 'West from North Goes South', 'ISADULT': 0, 'STARTYEAR': 2004.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 96, 'GENRES': 'Comedy,Mystery'}  ... displaying 10 of 86979 total bound parameter sets ...  {'TCONST': 'tt9916190', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Safeguard', 'ORIGINALTITLE': 'Safeguard', 'ISADULT': 0, 'STARTYEAR': 2020.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 95, 'GENRES': 'Action,Adventure,Thriller'}, {'TCONST': 'tt9916362', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Coven', 'ORIGINALTITLE': 'Akelarre', 'ISADULT': 0, 'STARTYEAR': 2020.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 92, 'GENRES': 'Drama,History'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

**Ratings**

In [106]:
q = '''DESCRIBE ratings;'''
describe = pd.read_sql(q, engine)
describe

              Field         Type Null  Key Default Extra
0            tconst          int   NO  PRI    None
1    average_rating  varchar(45)  YES         None
2   number_of_votes  varchar(45)  YES         None
3  genres_genres_id          int   NO         None

In [107]:
# Checking describe's Field names
describe['Field'].values

array(['tconst', 'average_rating', 'number_of_votes', 'genres_genres_id'],
      dtype=object)

In [108]:
# Checking dataframe's columns
ratings.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [109]:
# replace original column names
ratings.columns = ratings.columns.str.upper()
ratings.head(2)

      TCONST  AVERAGERATING  NUMVOTES
0  tt0035423            6.4     87153
1  tt0062336            6.4       175

In [110]:
# Reviewing dataframe's data types
ratings.dtypes

TCONST            object
AVERAGERATING    float64
NUMVOTES           int64
dtype: object

In [111]:
ratings.to_sql("ratings",engine,index=False, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'AVERAGERATING' in 'field list'")
[SQL: INSERT INTO ratings (`TCONST`, `AVERAGERATING`, `NUMVOTES`) VALUES (%(TCONST)s, %(AVERAGERATING)s, %(NUMVOTES)s)]
[parameters: ({'TCONST': 'tt0035423', 'AVERAGERATING': 6.4, 'NUMVOTES': 87153}, {'TCONST': 'tt0062336', 'AVERAGERATING': 6.4, 'NUMVOTES': 175}, {'TCONST': 'tt0069049', 'AVERAGERATING': 6.7, 'NUMVOTES': 7754}, {'TCONST': 'tt0088751', 'AVERAGERATING': 5.2, 'NUMVOTES': 336}, {'TCONST': 'tt0096056', 'AVERAGERATING': 5.6, 'NUMVOTES': 846}, {'TCONST': 'tt0100275', 'AVERAGERATING': 6.5, 'NUMVOTES': 347}, {'TCONST': 'tt0103340', 'AVERAGERATING': 6.3, 'NUMVOTES': 354}, {'TCONST': 'tt0108549', 'AVERAGERATING': 7.7, 'NUMVOTES': 33}  ... displaying 10 of 71900 total bound parameter sets ...  {'TCONST': 'tt9916190', 'AVERAGERATING': 3.7, 'NUMVOTES': 243}, {'TCONST': 'tt9916362', 'AVERAGERATING': 6.4, 'NUMVOTES': 5422})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

**Title Basics**

In [115]:
q = '''DESCRIBE title_basics;'''
describe = pd.read_sql(q, engine)
describe

           Field         Type Null  Key Default Extra
0         tconst          int   NO  PRI    None
1  primary_title  varchar(45)  YES         None
2     start_year  varchar(45)  YES         None
3        runtime  varchar(45)  YES         None

In [116]:
# Checking describe's Field names
describe['Field'].values

array(['tconst', 'primary_title', 'start_year', 'runtime'], dtype=object)

In [117]:
# Checking dataframe's columns
title_basics.columns

Index(['TCONST', 'TITLETYPE', 'PRIMARYTITLE', 'ORIGINALTITLE', 'ISADULT',
       'STARTYEAR', 'ENDYEAR', 'RUNTIMEMINUTES', 'GENRES'],
      dtype='object')

In [118]:
# replace original column names
title_basics.columns = title_basics.columns.str.upper()
title_basics.head(2)

,TCONST,TITLETYPE,PRIMARYTITLE,ORIGINALTITLE,ISADULT,STARTYEAR,ENDYEAR,RUNTIMEMINUTES,GENRES
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama

In [119]:
# Reviewing SQL table's data types
describe[['Field','Type']]

           Field         Type
0         tconst          int
1  primary_title  varchar(45)
2     start_year  varchar(45)
3        runtime  varchar(45)

In [120]:
# Reviewing dataframe's data types
title_basics.dtypes

TCONST             object
TITLETYPE          object
PRIMARYTITLE       object
ORIGINALTITLE      object
ISADULT             int64
STARTYEAR         float64
ENDYEAR           float64
RUNTIMEMINUTES      int64
GENRES             object
dtype: object

In [121]:
title_basics.to_sql("title_basics",engine,index=False, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'TITLETYPE' in 'field list'")
[SQL: INSERT INTO title_basics (`TCONST`, `TITLETYPE`, `PRIMARYTITLE`, `ORIGINALTITLE`, `ISADULT`, `STARTYEAR`, `ENDYEAR`, `RUNTIMEMINUTES`, `GENRES`) VALUES (%(TCONST)s, %(TITLETYPE)s, %(PRIMARYTITLE)s, %(ORIGINALTITLE)s, %(ISADULT)s, %(STARTYEAR)s, %(ENDYEAR)s, %(RUNTIMEMINUTES)s, %(GENRES)s)]
[parameters: ({'TCONST': 'tt0035423', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Kate & Leopold', 'ORIGINALTITLE': 'Kate & Leopold', 'ISADULT': 0, 'STARTYEAR': 2001.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 118, 'GENRES': 'Comedy,Fantasy,Romance'}, {'TCONST': 'tt0062336', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Tango of the Widower and Its Distorting Mirror', 'ORIGINALTITLE': 'El tango del viudo y su espejo deformante', 'ISADULT': 0, 'STARTYEAR': 2020.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 70, 'GENRES': 'Drama'}, {'TCONST': 'tt0069049', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Other Side of the Wind', 'ORIGINALTITLE': 'The Other Side of the Wind', 'ISADULT': 0, 'STARTYEAR': 2018.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 122, 'GENRES': 'Drama'}, {'TCONST': 'tt0088751', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Naked Monster', 'ORIGINALTITLE': 'The Naked Monster', 'ISADULT': 0, 'STARTYEAR': 2005.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 100, 'GENRES': 'Comedy,Horror,Sci-Fi'}, {'TCONST': 'tt0096056', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Crime and Punishment', 'ORIGINALTITLE': 'Crime and Punishment', 'ISADULT': 0, 'STARTYEAR': 2002.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 126, 'GENRES': 'Drama'}, {'TCONST': 'tt0100275', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'The Wandering Soap Opera', 'ORIGINALTITLE': 'La Telenovela Errante', 'ISADULT': 0, 'STARTYEAR': 2017.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 80, 'GENRES': 'Comedy,Drama,Fantasy'}, {'TCONST': 'tt0103340', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Life for Life: Maximilian Kolbe', 'ORIGINALTITLE': 'Zycie za zycie. Maksymilian Kolbe', 'ISADULT': 0, 'STARTYEAR': 2006.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 90, 'GENRES': 'Biography,Drama'}, {'TCONST': 'tt0108549', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'West from North Goes South', 'ORIGINALTITLE': 'West from North Goes South', 'ISADULT': 0, 'STARTYEAR': 2004.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 96, 'GENRES': 'Comedy,Mystery'}  ... displaying 10 of 86979 total bound parameter sets ...  {'TCONST': 'tt9916190', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Safeguard', 'ORIGINALTITLE': 'Safeguard', 'ISADULT': 0, 'STARTYEAR': 2020.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 95, 'GENRES': 'Action,Adventure,Thriller'}, {'TCONST': 'tt9916362', 'TITLETYPE': 'movie', 'PRIMARYTITLE': 'Coven', 'ORIGINALTITLE': 'Akelarre', 'ISADULT': 0, 'STARTYEAR': 2020.0, 'ENDYEAR': None, 'RUNTIMEMINUTES': 92, 'GENRES': 'Drama,History'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Final Database

In [122]:
# Final preview the names of all tables 
q = """SHOW TABLES;"""

pd.read_sql(q,engine)

  Tables_in_movies
0         employee
1           genres
2          ratings
3     title_basics
4     title_genres

In [123]:
q = '''DESCRIBE genres;'''
describe = pd.read_sql(q, engine)
describe

        Field         Type Null  Key Default Extra
0   genres_id          int   NO  PRI    None
1  genre_name  varchar(45)  YES         None

In [124]:
q = '''DESCRIBE ratings;'''
describe = pd.read_sql(q, engine)
describe

              Field         Type Null  Key Default Extra
0            tconst          int   NO  PRI    None
1    average_rating  varchar(45)  YES         None
2   number_of_votes  varchar(45)  YES         None
3  genres_genres_id          int   NO         None

In [125]:
q = '''DESCRIBE title_basics;'''
describe = pd.read_sql(q, engine)
describe

           Field         Type Null  Key Default Extra
0         tconst          int   NO  PRI    None
1  primary_title  varchar(45)  YES         None
2     start_year  varchar(45)  YES         None
3        runtime  varchar(45)  YES         None

In [126]:
q = '''DESCRIBE title_genres;'''
describe = pd.read_sql(q, engine)
describe

                 Field Type Null  Key Default Extra
0     genres_genres_id  int   NO  PRI    None
1  title_basics_tconst  int   NO  PRI    None

In [127]:
q = """SELECT *
FROM table_in_movies
LIMIT 5;
"""